 @model List<File>

<a href="@Url.ActionLink("Index", "News")"><button>Назад</button></a>
@foreach(var pictures in Model)
{
  
        <div class="galary">        
            <div class="block"><img src="@pictures.FilePath">
                @using (Html.BeginForm("DeletePicture", "Pictures", new { }))

                {
                    <button class="galary--button" name="Id" value="@pictures.Id">удалить</button>
                } 
            @using (Html.BeginForm("DoMainPicture", "Pictures", new { id = pictures.Id}))
            {
                <button class="galary--button">сделать главным</button>
            }
                </div></div>             
            
    
}
